

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: sans-serif;
}

body {
   font-family: "Roboto", sans-serif;
   background-color: azure;

   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   color: #757575;
}

ul{
   list-style-type: none;
}



.menu{
   max-width: 250px;
   /* min-height: 250px; */
   margin-left: 100px;
   margin-top: 100px;
   background-color: #fff;
   
   /* border-radius: 5px; */
}

.menu ul.root li {
   width: 250px;
   height: 40px;
   position: relative;
}

.icon{
   
   margin-left: 140px;
   display: none;
}


.menu ul.root li a{
   text-decoration: none;
   /* border-bottom: 1px solid #000; */
   line-height: 40px;
   /* text-indent: 20px; */
   color: #757575;
   display: block;
   /* justify-content: space-around; */
   padding-left: 20px;
   width: 100%;
   overflow: hidden;
}

.menu ul.root li a:hover{
   /* background: #2e39fe; */
   background-color: #eff0f5;
   /* border-top: 1px solid #000; */
}

.menu ul.root li ul.sub {
   position: absolute;
   left:250px;
   /* background: #2e39fe; */
   background-color: #eff0f5;
   /* top: -40px; */
   top: 0px;
   z-index: 1;
   display: none;
   box-shadow: 0 2px 4px rgb(0 0 0 / 35%);
}

.menu ul.root > li:hover > ul.sub{
   display: block;
   
}

.menu ul.root > li:hover > ul.sub li a{
   background-color: #fff;
   
}

.menu ul.root > li > ul.sub li:hover a{
   color: chocolate;
   background-color: #eff0f5;
}

.menu ul.root > li > ul.sub li > ul.sub > li a{
   color: #757575;
   background-color: #fff;
}

.menu ul.root >li:hover>a,
.menu ul.root > li > ul.sub li:hover a,
.menu ul.root > li > ul.sub li > ul.sub > li:hover a{
   color: chocolate;
   background-color: #eff0f5;
   
}

.menu ul.root >li:hover > a > span.icon{
   color: chocolate;
   display: inline-block;
}


.menu ul.root > li > ul.sub li:hover .icon,
.menu ul.root > li > ul.sub li > ul.sub > li:hover .icon{
   color: chocolate;
   display: inline-block;
   
}

.menu ul.root > li > ul.sub li:hover > ul.sub {
   display: block;
}