
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   height: 2000px;
}

.parents{
   background-color: green;
   width: 1200px;
   height: 500px;
   /* position: relative; */
   position: absolute;
}

.box{
   width: 1000px;
   height: 500px;
   background-color: blue;
   margin-top: 200px;
   margin-left: 200px;
   /* position: relative; */
   /* top: 50px; */
   /* left: 100px; */
   /* z-index: 1; */
}

.box-1{
   width: 200px;
   height: 100px;
   background-color: red;
   position: absolute;
   top: 100px;
   left: 100px;
   /* position: relative;
   z-index: 2; */
   /* top: 100px;
   left: 100px; */
}

.sticky{
   height: 50px;
   background-color: #000000;
   position: sticky;
   top: 20px;
   margin-top: 200px;
   z-index: 10;
}

button{
   position: fixed;
   z-index: 9;
   right: 50px;
   bottom: 50px;
   width: 120px;
   height: 50px;
   cursor: pointer;
}