@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   font-family: Roboto,sans-serif;
   height: fit-content;
}

/* Style cho header */
img{
   max-width: 100%;
   display: block;
   margin: auto;
}

.header{
   height: 54px;
   background-color: #34465c;
   display: flex;
   justify-content: space-between;
}

.header .logo{
   display: flex;
   align-items: center;
}

.header .logo img {
   width: 65%;
}

.sidebar{
   max-width: 100%;
   width: 100%;
   display: flex;
   align-items: center;
   margin-left: 90px;
   height: 54px;
}

.sidebar .menu>ul {
   display: flex;
}

.sidebar .menu>ul>li {
   color: #fff;
   font-size: 15px;
   margin: 0 15px;
   height: 54px;
   display: flex;
   align-items: center;
   position: relative;
}

.submenu{
   box-shadow: 0 0 10px rgb(0 0 0 / 15%);
   position: absolute;
   top: 100%;
   right: 0;
   width: 200px;
   display: none;
}

.menu > ul > li:hover .submenu{
   display: block;
   border-radius: 5px;
   background-color: #ffffff;
   cursor: pointer;
}

.submenu li {
   color: #464646;
   padding: .7rem 1rem;
   text-align: center;
   
}

.submenu li:hover{
   background-color: #c9c8c8;
   overflow: hidden;
   cursor: pointer;
}


.sidebar .menu > ul, .submenu {
   list-style-type: none;
}

.sidebar .menu > ul > li > span {
   color: #fff;
   margin-left: 5px;
}

.cart{
   position: relative;
   color: #fff;
   margin-right: 20px;
   margin-left: 10px;
}

.cart-icon i{
   font-size: 20px;
   color: #fff;
}

.cart-quantity {
   border: solid 1px #26a69a;
   color: #fff;
   border-radius: 4px;
   width: 90%;
   text-align: center;
   background-color: #26a69a;
   position: absolute;
   top: -12px;
   right: -12px;
}

.sidebar .avatar {
   position: relative;
   height: 60px;
   display: flex;
   align-items: center;
   margin-left: 1rem;
}

.avatar img{
   width: 32px;
   height: 32px;
   border-radius: 50%;
   overflow: hidden;
}

.avatar:hover .submenu{
   display: block;
   text-align: center;
   background-color: #ffffff;
   
}


.body{
   background-color: #f4f7fa;
   height: fit-content;
   padding-top: 20px;
   overflow: hidden;
   box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
}


                                          /* Style cho navbar */
.navbar{
   /* background-color:#464646; */
   height: 40px;
   margin-bottom: 20px;
   display: flex;
   justify-content:center;
}

.nav-list ul{
   margin:0;
   list-style-type: none;
   display: flex;
}

.nav-list ul li{
   text-align: center;
   padding: 10px 10px;
}

.navbar a{
   margin: 10px;
   text-decoration: none;
   color:rgb(46, 45, 45);
   
}

/* Style cho class detail */
.detail{
   /* padding-top: 10px; */
   max-width: 650px;
   display: flex;
   flex-direction: column;
   margin: 20px auto;
}

.course-name{
   background-color: #fff;
   color: #464646;
   
}

.course-name h2{
   font-size: 1.2rem;
   font-weight: 500;
   margin: 20px 20px;
   
}

/* Style cho class agent */
.agent{
   border-top: 1px solid rgba(0,0,0,.125);;
   border-bottom: 1px solid rgba(0,0,0,.125);
   padding-top: 10px;
   padding-bottom: 20px;
   display: flex;
   background-color: #fff;
   color: #464646;
}

.image img{
   border-radius: 50%;
   margin: 20px 20px;
   width:70%;
}

.in4-agent{
   font-size: 16px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.in4-agent span{
   font-weight: bold;
   margin-right: 10px;
   color: #000
}

.in4-agent button{
   max-width: 70%;
   padding: 10px 10px;
   font-size: 16px;
   color: #fff;
   background-color: #007bff;
   border-color: #007bff;
   border-width: 0;
   border-radius: 4px;
   cursor: pointer;
}

.in4-agent button span{
   color: #fff;
}


/* Style cho class content */
.detail .content{
   padding: 20px 20px;
   border-bottom: 1px solid rgba(0,0,0,.125);
   background-color: #fff;
   color: #464646;
   margin-bottom: 20px;
}

.content > h3{
   font-weight: 500;
   line-height: 1.2;
   font-size: 1.75rem;
   margin-bottom: 20px;
   margin-top: 35px;
}

.detail .content p{
   display: block;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
}

.detail ul {
   display: block;
   list-style-type: disc;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   padding-inline-start: 40px;
}

.detail ol {
   display: block;
   list-style-type: decimal;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   padding-inline-start: 40px;
}

.detail .content ul li{
   line-height: 1.9;
}

.detail .content h3 a{
   text-decoration: none;
   color: #007bff;
}

.price {
   color: rgb(240, 15, 15);
   font-weight: 700;
}

/* Style cho class rating */
.rating{
   display: flex;
   /* flex-direction: column; */
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   background-color: #fafafa;
}

.rating-item{
   align-items: center;
   display: flex;
   flex-direction: column;
   margin-bottom: 30px;
   text-align: center;
}

.rating-ava img{
   width: 30%;
   border-radius: 50%;
}

.rating-detail{
   padding: 10px 40px;
}

.rating-detail-name{
   font-weight: bold;
   font-size: 16px;
}

.rating-detail-star>span{
   color: rgb(255, 222, 34);
}

/* CSS phần footer */
.bossfooter{
   /* max-height: 1000px; */
   margin-bottom: -5px;;
   background-color: #464646;
}


.footer{
   display: flex;
   justify-content: center;
   flex-direction: row;
   width: 1200px;
   padding: 10px 25px;
   font-family: 'Roboto',sans-serif;
   line-height: 2.5em;
   margin: 0 auto;
   background-color: #464646;
}

.footer .content{
   flex-basis: 25%;
}

.footer .title{
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   font-size:18px;
}

.footer .content ul{
   list-style-type: none;
   display: flex;
   flex-direction: column;
}

.footer a, span{
   text-decoration: none;
   color: #919294;
}

.footer .mid-content ul{
   margin: 5px 10px;
}

.footer li{
   margin: 10px 10px;
   margin: -4px;
   font-size: 14px;
}

.footer .social {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content:flex-start;
   font-size: 1.8em;
   margin-left: 20px;  
}

.footer .social span{
   margin-left: 20px
}

