@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body {
   margin: 0;
   padding: 0;
   font-family: Roboto,sans-serif;
}


.body{
   background-color: #f4f7fa;
   height: 100%;
   /* padding-top: 20px; */
   overflow: hidden;
   box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
}

/* Style cho navbar */
.navbar{
   background-color:#464646;
   height: 40px;
   margin-bottom: 20px;
}

.nav-list ul{
   margin:0;
   list-style-type: none;
   display: flex;
}

.nav-list ul li{
   text-align: center;
   padding: 10px 10px;
}

.navbar a{
   margin: 10px;
   text-decoration: none;
   color:#fff;
}

/* Style cho class detail */
.detail{
   /* padding-top: 10px; */
   max-width: 650px;
   display: flex;
   flex-direction: column;
   margin: 20px auto;
}

.course-name{
   background-color: #fff;
   color: #464646;
   
}

.course-name h2{
   font-size: 1.2rem;
   font-weight: 500;
   margin: 20px 20px;
   
}

/* Style cho class agent */
.agent{
   border-top: 1px solid rgba(0,0,0,.125);;
   border-bottom: 1px solid rgba(0,0,0,.125);
   padding-top: 10px;
   padding-bottom: 20px;
   display: flex;
   background-color: #fff;
   color: #464646;
}

.image img{
   border-radius: 50%;
   margin: 20px 20px;
   width:70%;
}

.in4-agent{
   font-size: 16px;
}

.in4-agent span{
   font-weight: bold;
   margin-right: 10px;
}

.in4-agent button{
   padding: 10px 10px;
   font-size: 16px;
   color: #fff;
   background-color: #007bff;
   border-color: #007bff;
   border-width: 0;
   border-radius: 4px;
   cursor: pointer;
}

.in4-agent button span{
   color: #fff;
}

/* Style cho class content */
.detail .content{
   padding: 20px 20px;
   border-bottom: 1px solid rgba(0,0,0,.125);
   background-color: #fff;
   color: #464646;
}

.content > h3{
   font-weight: 500;
   line-height: 1.2;
   font-size: 1.75rem;
   margin-bottom: 20px;
   margin-top: 35px;
}

.content ul li{
   line-height: 1.9
}

.detail .content h3 a{
   text-decoration: none;
   color: #007bff;
}

.price {
   color: rgb(240, 15, 15);
   font-weight: 700;
}

/* Style cho class rating */
.rating{
   display: flex;
   /* flex-direction: column; */
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   background-color: #fafafa;
}

.rating-item{
   align-items: center;
   display: flex;
   flex-direction: column;
   margin-bottom: 30px;
   text-align: center;
}

.rating-ava img{
   width: 30%;
   border-radius: 50%;
}

.rating-detail{
   padding: 10px 40px;
}

.rating-detail-name{
   font-weight: bold;
   font-size: 16px;
}

.rating-detail-star>span{
   color: rgb(255, 222, 34);
}

/* CSS phần footer */
.bossfooter{
   
   background-color: #464646;
}


.footer{
   display: flex;
   justify-content: center;
   flex-direction: row;
   width: 1200px;
   padding: 30px 25px;
   font-family: 'Roboto',sans-serif;
   line-height: 2.5em;
   margin: 0 auto;
   background-color: #464646;
}

.footer .content{
   flex-basis: 25%;
}

.footer .title{
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   font-size:18px;
}

.footer ul{
   list-style-type: none;
   display: flex;
   flex-direction: column;
}

.footer a, span{
   text-decoration: none;
   color: #919294;
}

.footer ul{
   margin: 5px 10px;
}

.footer li{
   margin: 10px 10px;
   margin: -4px;
   font-size: 14px;
}

.footer .social {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content:flex-start;
   font-size: 1.8em;
   margin-left: 20px;  
}

.footer .social span{
   margin-left: 20px
}