@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: gainsboro;
}

header {
    background-color: #30598c;
   
}

.navbar img {
    width: 120px;
}

.course-detail-container {
    margin-top: 30px;
}


.nav-list{
    height: 40px;
    padding: 0;
    align-items: center;
}
 
.nav-list ul{
    margin:0;
    list-style-type: none;
    display: flex;
    padding: 0;
}
 
.nav-list ul li{
    text-align: center;
    padding: 0px 0px;
}
 
.nav-list a{
    margin: 10px;
    text-decoration: none;
    color:rgb(46, 45, 45);
    
}

.main-content {
    /* height: 500px; */
    background-color: rgb(255, 255, 255);
}

.detail{
    /* padding-top: 10px; */
    max-width: 650px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}
 
 .course-name{
    /* background-color: #fff; */
    display: block;
    color: #464646;
    border-bottom: solid 1px black;
 }
 
 .course-name h2{
    font-size: 1.2rem;
    font-weight: 500;
    margin: 20px 20px;
    
 }

.agent {
    border-top: 1px solid rgba(0,0,0,.125);;
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    background-color: #fff;
    color: #464646;
}
 
 .image img {
    border-radius: 50%;
    margin: 20px 20px;
    width:70%;
}
 
.info-agent{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
 
.info-agent span{
    font-weight: bold;
    margin-right: 10px;
    color: #000
}
 
.info-agent button{
    max-width: 70%;
    padding: 10px 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border-width: 0;
    border-radius: 4px;
    cursor: pointer;
}
 
.info-agent button span{
    color: #fff;
}


 