@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

*{
   margin: 0;
   padding: 0;
   /* border: 1px solid # */
}

body { 
   background-color: #f4f7fa;
}

.card{
   display: flex;
   flex-direction:column;
   /* text-align: center; */
   /* justify-content: center; */
   width: 400px;
   margin: 60px auto;
   font-family: 'Roboto', sans-serif;
   
   
}

.year{
   background-color: #ef5321; 
   padding:10px;
   color: #fff;
   text-align: center;
   border-top-left-radius: 5px;
}

.date{
   background-color: #eb7f26;
   color: #fff;
   display: flex;
   flex-direction:column;
   text-align: center;
   justify-content: center;
   height: 150px;
   border-bottom-left-radius: 5px;
   
}

.date span{
   font-size: 2.95rem;
   line-height: 2.5rem;
}

.date span:last-child{
   font-size: 1rem;
}

.content {
   background-color: #fff;
   padding: 10px 20px;
   /* justify-content:left; */
   /* border: 1px solid rgb(226, 57, 57); */
   border-bottom-left-radius: 5px ;
   border-bottom-right-radius: 5px;
   /* margin-bottom: 5px; */
   box-shadow: 0 1px 4px  rgb(0 0 0 / 50%);
   
}

.title{
   margin-bottom: 10px;
}

.title a{
   text-decoration: none;
   color: #464646;
   font-weight: bold;
   font-size: 1.3rem;
}

.teacher{
   margin-bottom: 20px;
}

.info{
   display: flex;
   flex-direction: column;
   border-bottom: 1px solid #d3d1d1;
   margin-bottom: 10px;
}

.info span{
   margin-bottom: 10px;
   color: #464646;
}

.info span i {
   margin-right: 8px;
}

.info{
   
}

.content >a{
   text-decoration: none;
   color: #3094f1
}