@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: block;
  width: 100%;
  padding: 0 16px;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

/* START HEADER */
.header {
  width: 100%;
}

.header-top {
  display: flex;
  height: 80px;
  width: 100%;
  position: relative;
}

.logo {
  width: 15%;
  display: flex;
  align-items: center;
}

.logo img {
  width: 141px;
  height: auto;
  cursor: pointer;
}

h2.title-logo {
  font-size: 25px;
}

.link-home {
  width: 78%;
}

.link-home a {
  text-decoration: none;
  color: #000;
}

ul.menu-cher {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-weight: 500;
  height: 100%;
}

.accordion-button:focus {
  box-shadow: none;
}

ul.menu-cher li.ic {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
  cursor: pointer;
  height: 100%;
}

.mu-page:hover {
  color: red;
  transition: all 0.3s;
}

ul.menu-cher li.ic:hover .link-main,
ul.icon-link li.ic:hover .link-main,
.mega-menu-col a:hover {
  color: red;
  transition: all 0.3s;
}

/* MULI */
.prd-muli i {
  margin-left: 7px;
}

.dropdown-menu {
  position: absolute;
  top: 150%;
  width: 105%;
  display: block;
  visibility: hidden;
  margin-left: -20px;
  border: #fff;
  box-shadow: 0 13px 42px 11px rgba(0,0,0,.05);
  opacity: 0;
  transition: all .4s;
}

li#mu-li {
  position: relative;
}

.dr-menu {
  position: absolute;
  top: 150%;
  left: 10%;
  padding: 10px 0 10px 10px;
  width: 120px;
  display: block;
  visibility: hidden;
  margin-left: -20px;
  border: #fff;
  box-shadow: 0 13px 42px 11px rgba(0,0,0,.05);
  opacity: 0;
  transition: all .4s;
  z-index: 9;
  background-color: #ffffff;

}

.dr-page {
  padding: 0;
}

.prd-muli:hover .dropdown-menu,
.prd-muli:hover .dr-menu {
    opacity: 1;
    top: 100%;
    visibility: visible;
}



.dropdown-menu a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
}

.mega-menu-col {
  border-right: 1px solid #ddd;
  text-align: left;
  width: 25%;
}

.mega-menu-col:first-child {
  margin-left: 20px;
}

.mega-menu-col:last-child {
  border-right: 0px !important;
}

ul.menu-mega {
  display: flex;
  gap: 20px;
}

ul.menu-mega,
ul.menu-mega ul {
  padding: 0;
}

.dropdown-header {
  margin-top: 2px;
  font-size: 16px;
  font-weight: 600;
  padding: 0;
  color: #000;
}

.image-dropdown {
  width: 100%;
  display: flex;
}

.header-image-drop-banner {
  margin: 20px 20px;
  position: relative;
}

.info5 {
  position: absolute;
  top: 50%;
  right: 10%;
  display: flex;
  transform: translateY(-50%);
  flex-direction: column;
}

h6.bn {
  font-size: 17px;
}

h5.bn {
  font-size: 22px;
  font-weight: 600;
}.header {
  width: 100%;
}

.he-top-fix {
  position: fixed;
  top: 0;
  background-color: #ffffff;
  z-index: 9999999;
  width: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.header-top {
  display: flex;
  height: 80px;
  width: 100%;
  position: relative;
}

.logo {
  width: 15%;
  display: flex;
  align-items: center;
}

.logo img {
  width: 141px;
  height: auto;
  cursor: pointer;
}

h2.title-logo {
  font-size: 25px;
}

.link-home {
  width: 78%;
}

.link-home a {
  text-decoration: none;
  color: #000;
}

ul.menu-cher {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-weight: 500;
  height: 100%;
}

ul.menu-cher li.ic {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
  cursor: pointer;
  height: 100%;
}

.mu-page:hover {
  color: red;
  transition: all 0.3s;
}

ul.menu-cher li.ic:hover .link-main,
ul.icon-link li.ic:hover .link-main,
.mega-menu-col a:hover {
  color: red;
  transition: all 0.3s;
}

/* CART COUNT */
.cart {
  position: relative;
  /* animation: bell 1s infinite; */
}

@keyframes bell {
  0% {
    rotate: 0deg;
  }
  10% {
    rotate: 10deg;
  }
  30% {
    rotate: -10deg;
  }
  45% {
    rotate: 5deg;
  }
  55% {
    rotate: -5deg;
  }
  60% {
    rotate: 0deg;
  }
}

#cart-count {
  position: absolute;
  top: -5px;
	right: -6px;
  background-color: #f00;
	border-radius: 50%;
	color: #fff;
	font-size: 12px;
	height: 18px;
  width: 18px;
	line-height: 19px;
	text-align: center;
}


/* MULI */
.prd-muli i {
  margin-left: 7px;
}

.dropdown-menu {
  position: absolute;
  top: 150%;
  width: 105%;
  display: block;
  visibility: hidden;
  margin-left: -20px;
  border: #fff;
  box-shadow: 0 13px 42px 11px rgba(0,0,0,.05);
  opacity: 0;
  transition: all .4s;
}

li#mu-li {
  position: relative;
}

.dr-menu {
  position: absolute;
  top: 150%;
  left: 10%;
  padding: 10px 0 10px 10px;
  width: 120px;
  display: block;
  visibility: hidden;
  margin-left: -20px;
  border: #fff;
  box-shadow: 0 13px 42px 11px rgba(0,0,0,.05);
  opacity: 0;
  transition: all .4s;
  z-index: 9;
  background-color: #ffffff;

}

.dr-page {
  padding: 0;
}

.prd-muli:hover .dropdown-menu,
.prd-muli:hover .dr-menu {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.dropdown-menu a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 400;
  line-height: 40px;
}

.mega-menu-col {
  border-right: 1px solid #ddd;
  text-align: left;
  width: 25%;
}

.mega-menu-col:first-child {
  margin-left: 20px;
}

.mega-menu-col:last-child {
  border-right: 0px !important;
}

ul.menu-mega {
  display: flex;
  gap: 20px;
}

ul.menu-mega,
ul.menu-mega ul {
  padding: 0;
}

.dropdown-header {
  margin-top: 2px;
  font-size: 16px;
  font-weight: 600;
  padding: 0;
  color: #000;
}

.image-dropdown {
  width: 100%;
  display: flex;
}

.header-image-drop-banner {
  margin: 20px 20px;
  position: relative;
}

.info5 {
  position: absolute;
  top: 50%;
  right: 10%;
  display: flex;
  transform: translateY(-50%);
  flex-direction: column;
}

h6.bn {
  font-size: 17px;
}

h5.bn {
  font-size: 22px;
  font-weight: 600;
}

.info5 a {
  font-size: 17px;
}

/* MULI */

.icons {
  width: 7%;
  display: flex;
  align-items: center;
}

ul.icon-link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 0;
}

ul.icon-link li {
  list-style: none;
  font-size: 19px;
  display: block;
  align-items: center;
  cursor: pointer;
}


ul.icon-link li.bars {
  display: none;
}

.bar1, .bar2, .bar3 {
  width: 20px;
  height: 3px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}

.link-m:hover {
  color: red;
  transition: all .3s;
}

.change .bar1 {
  transform: translate(0, 6px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -6px) rotate(45deg);
}

.accordion-button::after {
    display: none;
}

button.accordion-button.collapsed {
    text-transform: uppercase;
}

.main-dropdow a {
    text-decoration: none;
    color: #000;
}

button#btn-drop {
    text-transform: uppercase;
}

/* LOADER */
.loader-container{
    position: fixed;
    top:0; left:0;
    height:100%; 
    width:100%;
    z-index: 99999999999;
    background:rgb(25, 31, 38);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loader-container img{
    width:35rem;
}

.loader-container.fade-out{
    top:-110%;
    opacity:0;
}

/* SEARCH */
.search-btn {
  position: absolute;
  top: 150%;
  right: 0;
  z-index: 4;
  opacity: 1;
  visibility: hidden;
  transition: all .4s;
  z-index: 9999999999999;
}

.se-input {
  outline: none;
  font-size: 15px;
  padding: 5px 10px;
  box-shadow: 0 13px 42px 11px rgba(0,0,0,.05);
  border: none;
}

.se-input::placeholder {
  font-size: 15px;
}

.sebtn {
  top: 100%;
  opacity: 1;
  visibility: visible;
}

.sebtnRemove {
  opacity: 0;
  visibility: hidden;
}

.header-bottom {
    margin-top: 80px;
    width: 100%;
    height: 40px;
    background-color: #F7F8FB;
    display: block;
}
.header-bottom .container{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-product {
    font-size: 19px;
    font-weight: 700;
}
.meli-product {
    height: 40px;
    font-size: 15px;
}
ul.product-detail {
    display: flex;
    height: 100%;
    align-items: center;
}
ul.product-detail li i{
    font-size: 11px;
    margin: 0 4px 4px 4px;
}

/* Add To cart */
table {
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	width: 100%;
	table-layout: fixed; 
}

.cart-item-actions img {
  width: 27px;
  height: auto;
}

.add-to-cart-wishlist {
  padding: 14px 15px;
  max-width: 200px;
  font-size: 19px;
  background-color: #202D38;
  color: #cadae5;
  text-align: center;
  cursor: pointer;
  border: 1px solid #202D38;
  transition: all .3s;
}

.add-to-cart-wishlist:hover {
  border: 1px solid #202D38;
  color: #202D38;
  background-color: #fff;
}

.pr {
  text-align: center;
}

table a {
  text-decoration: none;
  color: #000;
}

.product-image {
  width: 10%;
  
}

.product-name {
  width: 25%;
}

.product-rice {
  width: 13%;
}

.product-quantity {
  width: 12%;
}

.product-subtotal {
  width: 32%;
}

.product-sub {
  text-align: -webkit-center;
}

.product-close {
  width: 3%;
}

.product-cl {
  text-align: end;
}




/* END HEADER */

/* START MAIN */
#toast {
  position: fixed;
  top: 92px;
  right: 32px;
  z-index: 999999;
}

.tot {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
  padding: 20px 0;
  min-width: 300px;
  max-width: 450px;
  border-left: 4px solid #47d864;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  margin-bottom: 10px;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.toast--success .toast__icon {
  color: #47d864;
}

.toast__icon {
  color: #47d864;
}

.toast__icon {
  font-size: 24px;
}

.toast__icon,
.toast__close {
  padding: 0 16px;
}

.toast__body {
  flex-grow: 1;
}

.toast__title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.toast__msg {
  font-size: 14px;
  color: #888;
  margin-top: 6px;
  line-height: 1.5;
}

.toast__close {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.cart-table-main {
  margin-top: 40px;
}

.img-pr-main {
  margin: 20px 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100%;
  border: 1px solid #CDB5B5;
  border-radius: 7px;
}

.wish-list-content {
  margin: 40px 0;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wish-list-content img{
  max-width: 300px;
  height: auto;
  margin-right: 20px;
}

.wish-list-title {
  margin: 30px 0 5px 0;
  font-weight: 600;
}

.wi-li-co {
  display: flex;
  flex-direction: column;
  color: #9A9898;
  font-size: 18px;
}

.wish-list-content a {
  text-decoration: none;
}

.btn-return-shop {
  background-color: #FF0000;
  color: #fff;
  font-size: 20px;
  padding: 20px 25px;
  margin-top: 30px;
  border-radius: 5px;
  transition: all .3s;
}

.btn-return-shop:hover {
  background-color: #fff;
  border: 1px solid #FF0000;
  color: #FF0000;
}

.amount {
  color: #726F6F;
}

.status-product {
  color: #D1C4C4;
}

.continue-shopping {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 15px;
}

.continue-shopping a {
  text-decoration: none;
  color: #fff;
}

.ctn-shop {
  cursor: pointer;
  padding: 14px 15px;
  background-color: #611F81;
  border: 1px solid #611F81;
  transition: all .3s;
}

.ctn-shop:hover {
  background-color: #ffffff;
  border: 1px solid #611F81;
}

.ctn-shop:hover a {
  color: #611F81;
}




/* END MAIN */
/* FOOTER */
.widget-info li {
  cursor: pointer;
}

.footer {
  margin-top: 60px;
}

ul li {
  list-style: none;
}

.footer {
  width: 100%;
}

.footer-top {
  background-color: #202325;
  padding: 100px 0 70px;
}
.widget-main {
  display: flex;
  flex-direction: column;
}

.widget {
  color: #fff;
  float: left;
}

.widget-title {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 25px;
}

ul.widget-info {
  padding: 0;
}

ul.widget-info li {
  margin-bottom: 10px;
  list-style: none;
  font-size: 16px;
  display: flex;
  flex-direction: row;
}

ul.widget-info li i {
  margin-right: 10px;
  margin-top: 4px;
  font-size: 18px;
}
ul.widget-info li p {
  margin: 2px 0 0 3px;
  font-size: 14px;
}

ul.social-icons {
  padding: 0;
}

ul.social-icons li {
  display: inline-block;
  padding: 0px 5px 5px 0;
}

ul.social-icons li a {
  border-radius: 50%;
  font-size: 18px;
  height: 36px;
  width: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  overflow: hidden;
}

.social-facebook {
  background-color: #fff;
}

.social-twitter {
  color: #fff;
  background-color: #00acee;
}

.social-google {
  color: #fff;
  background-color: #dd4b39;
}

.social-youtube {
  color: #fff;
  background-color: #c4302b;
}

.social-camera {
  color: #fff;
  background-color: #3f729b;
}

form.form-control {
  position: relative;
  width: 100%;
  border-radius: 30px;
}

.form-input {
  height: 40px;
  border: none;
  outline: none;
  padding: 10px 20px;
  width: 100%;
}

.btn-sent {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  color: #fff;
  background-color: #ff324d;
}

.btn-sent i {
  margin-left: 10px;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px 0 5px 0;
  background-color: #202325;
}

p.tc {
  font-size: 14px;
  color: #fff;
  display: flex;
  margin-top: 7px;
}

ul.payment {
  padding: 0;
  display: flex;
  justify-content: end;
}

ul.payment li {
  margin-left: 4px;
}
/* END FOOTER */

@media (min-width: 1050px){
    .product-sub {
      padding: 0 10px;
    }
}

  

/* REPONSIVE */
@media (min-width: 992px){
  .container {
    width: 100%;
  }  
}

@media (min-width: 768px) and (max-width: 992px) {
  #scroll-hea {
    padding-right: 0;
    width: 100%;
    height: 250px;
    overflow-y: auto;
  }
  .container {
    --bs-gutter-x: 0;
  }

  ul.menu {
    display: none;
  }

  .header-top {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .logo {
    width: 22%;
  }

  .link-home {
    width: 66%;
    display: none;
  }

  .icons {
    width: 12%;
  }

  ul.icon-link li.bars {
    display: block;
  }

  .dropdow-menu {
    width: 100%;
    display: block;
    z-index: 999;
    position: absolute;
    top: 100%;
    left: 0;
  }

  .accordion-button {
    font-size: 19px;
    font-weight: 500;
  }

  #btn-drop::after {
    display: block;
  } 

  button {
    text-transform: uppercase;
    font-size: 35px;
  }

  .main-dropdow {
    font-size: 16px;
    font-weight: 400;
  }

   .main-dropdow a {
    text-decoration: none;
    color: #000;
   }

   .tck {
    margin-bottom: 0;
   }

  .dr-header {
    z-index: 9;
    overflow-y: auto;
  }

  .dropdow-menu {
    display: none;
  }

  .dr-header h5 {
    font-size: 19px;
    font-weight: 600;
  }

  ul.icon-link li.bars:hover {
    color: #000;
  }

  .single-banner-01,
  .single-banner-02 {
    height: 300px;
  }

  h5.single-bn-title1 {
    font-size: 17px;
    font-weight: 600;
  }

  h3.single-bn-title {
    font-size: 25px;
    font-weight: bold;
  }

  a.single-bn-link {
    color: #292b2c;
    font-size: 15px;
  }
}

@media (min-width: 992px){
  .container {
    width: 100%;
  }  
}

@media (min-width: 768px) and (max-width: 992px) {
  .add-to-cart-wishlist {
    padding: 8px 0px;
  }
  .container {
    --bs-gutter-x: 0;
  }

  ul.menu {
    display: none;
  }

  .header-top {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .logo {
    width: 22%;
  }

  .link-home {
    width: 66%;
    display: none;
  }

  .icons {
    width: 12%;
  }

  ul.icon-link li.bars {
    display: block;
  }

  .dropdow-menu {
    width: 100%;
    display: block;
    z-index: 999;
    position: absolute;
    top: 100%;
    left: 0;
  }

  .accordion-button {
    font-size: 19px;
    font-weight: 500;
  }

  #btn-drop::after {
    display: block;
  } 

  button {
    text-transform: uppercase;
    font-size: 35px;
  }

  .main-dropdow {
    font-size: 16px;
    font-weight: 400;
  }

   .main-dropdow a {
    text-decoration: none;
    color: #000;
   }

   .tck {
    margin-bottom: 0;
   }

  .dr-header {
    z-index: 9;
    overflow-y: auto;
  }

  .dropdow-menu {
    display: none;
  }

  .dr-header h5 {
    font-size: 19px;
    font-weight: 600;
  }

  ul.icon-link li.bars:hover {
    color: #000;
  }

  .single-banner-01,
  .single-banner-02 {
    height: 300px;
  }

  h5.single-bn-title1 {
    font-size: 17px;
    font-weight: 600;
  }

  h3.single-bn-title {
    font-size: 25px;
    font-weight: bold;
  }

  a.single-bn-link {
    color: #292b2c;
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .add-to-cart-wishlist {
    padding: 0px 12px;
    font-size: 15px;
  }

  .header-top {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  ul.menu {
    display: none;
  }

  .logo {
    width: 22%;
  }

  .link-home {
    width: 62%;
    display: none;
  }

  .icons {
    width: 16%;
  }

  ul.icon-link li.bars {
    display: block;
  }

  ul.icon-link li.bars:hover {
    color: #000;
  }

  .banner {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .single-banner-01 {
    width: 100%;
    padding-left: 133px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  .single-banner-02 {
    width: 100%;
    padding: 10px;
  }

  .single-banner-01 img,
  .single-banner-02 img {
    width: 100%;
  }

  .dropdow-menu {
    width: 100%;
    display: none;
    z-index: 999;
    position: absolute;
    top: 100%;
    left: 0;
  }

  .tck {
    margin-bottom: 0;
   }

  #btn-drop::after {
    display: block;
  }

  .main-dropdow{
    font-size: 16px;
  }

  .dr-header h5 {
    font-size: 17px;
  }
  
  #scroll-hea {
    padding-right: 0;
    width: 100%;
    height: 150px;
    overflow-y: auto;
  }

  .footer-bottom .col-md-6 {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .container,
  .container-sm {
    max-width: 100%;
  }

  .header-top {
    display: flex;
    justify-content: space-between;
  }

  .link-home {
    width: 66%;
    display: none;
  }

  .products-list .col-6 {
    width: 50%;
    display: flex;
    justify-content: center;
  }

  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .logo {
    width: 22%;
  }

  .icons {
    width: 17%;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    width: 22%;
  }

  .link-home {
    width: 51%;
    display: none;
  }

  .icons {
    width: 27%;
  }

  .products-list .col-6 {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .gutters .col-12 {
    width: 100%;
  }

  h5.single-bn-title1 {
    font-size: 17px;
    font-weight: 600;
  }

  h3.single-bn-title {
    font-size: 25px;
    font-weight: bold;
  }

  a.single-bn-link {
    color: #292b2c;
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

@media screen and (max-width: 320px) {
  .col-sm-6 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 250px) and (max-width: 800px) {
  .wish-list-content img{
      max-width: 200px;
      height: auto;
      margin-right: 20px;
  }
}  

@media (min-width: 370px) and (max-width: 800px) {
  .wish-list-content {
    margin: 90px 0;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .wish-list-content img{
      max-width: 200px;
      height: auto;
      margin-right: 20px;
  }

  .wish-list-title {
      margin: 30px 0 5px 0;
      font-weight: 600;
  }

  .wi-li-co {
      display: flex;
      flex-direction: column;
      color: #9A9898;
      font-size: 16px;
  }

  .wish-list-content a {
      text-decoration: none;
  }

  .btn-return-shop {
      border: 1px solid red;
      background-color: #FF0000;
      color: #fff;
      font-size: 18px;
      padding: 15px 20px;
      margin-top: 30px;
      border-radius: 5px;
      transition: all .3s;
  }

  .btn-return-shop:hover {
      background-color: #fff;
      border: 1px solid #FF0000;
      color: #FF0000;
  }
}

@media screen and (max-width: 769px) {
  .total-price {
    width: 100%;
  }
.img-pr-main {
  margin: 10px 0;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 50%;
  background-position: center;
}

table {
  border: 0;
}

table thead {
  border: none;
  overflow: hidden;
  position: absolute;
  width: 0px;
  padding: 0;
}

table tr {
  border-bottom: 3px solid #e1e5e9;
  display: block;
  margin-bottom: .625em;
}

table th,
table td {
  padding: 0.625em;
}

table td {
  border-bottom: 1px solid #e1e5e9;
  display: flex;
  font-size: .8em;
  align-items: center;
  justify-content: space-between;
  color: #9da9b9;
}

table td::before {
  content: attr(data-label);
  float: left;
  font-weight: 600;
  text-transform: uppercase;
  color: #656971;
  font-size: 14px;
}

table td:last-child {
  border-bottom: 0;
}

table td:nth-child(4) {
  font-size: 0.8em;
}

td.product-qatity.pr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span.qtity {
  text-align: center;
}

td.product-imag.pr {
  padding: 0;
}

.img-pr-main {
  margin-top: 0;
  margin-bottom: 17px;
  width: 100%;
  margin-bottom: 14px;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 50%;
  border: 1px solid #CDB5B5;
  border-radius: 7px;
}

td.product-imag.pr {
    display: block;
}

tr.cart-item:nth-child(2) {
    margin: 40px 0;
    background-color: #f9f8f8;
}

td {
  font-size: 19px;
}

.pr {
  font-size: 14px;
}
}

@media (min-width: 768px) and (max-width: 840px) {
  .icons {
      width: 16%;
  }
}

@media (min-width: 500px) and (max-width: 600px) {
  .icons {
      width: 20%;
  }
}

@media (min-width: 250px) and (max-width: 380px) {
  .icons {
      width: 35%;
  }
}

@media screen and (max-width: 380px){
  table td::before {
    font-size: 12px;
  }

  table td a {
    font-size: 13px;
  }

  span.amount {
    font-size: 13px;
}

}

@media (min-width: 500px) and (max-width: 630px){
.header-top {
    display: flex;
    height: 67px;
    width: 100%;
    position: relative;
}
}

@media (min-width: 500px) and (max-width: 630px){
  .header-bottom {
      margin-top: 68px;
  }
}

@media (min-width: 250px) and (max-width: 420px){
  .header-top {
    height: 60px;
  }
}

@media (min-width: 250px) and (max-width: 420px){
  .header-bottom {
      margin-top: 61px;
  }
}

@media (max-width: 300px){
  ul.icon-link li {
    font-size: 16px;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 18px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.4s;
  }

  .slide-bn {
    margin-top: 65px;
  }

  .itemas .des {
    font-size: 14px;
    margin-bottom: 20px 0 -20px 0;
  }

  .itemas .name {
    font-size: 30px;
    width: 100%;
  }

  .slide-bn .content {
    top: 16%;
    margin-left: 10px;
  }

  .itemas:nth-child(3),
  .itemas:nth-child(4),
  .itemas:nth-child(5),
  .itemas:nth-child(n + 6) {
    top: 75%;
  }

  .itemas:nth-child(1),
  .itemas:nth-child(2) {
    background-position: center 110px;
    background-size: 250px;
  }

  .container-banner-image {
    padding: 0;
  }

  .buttons button {
    width: 35px;
    height: 35px;
  }

  .login,
  .signup {
    max-width: 250px;
    padding: 20px 10px 0 10px;
  }

  .signup-heading {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .title-login {
    text-align: center;
    margin-bottom: 25px;
  }

  .forgot-password {
    font-size: 12px;
  }

  .signup-submit {
    padding: 9px;
    font-size: 17px;
    margin: 12px 0;
  }

  .signup-already {
    text-align: center;
    font-size: 13px;
  }

  .signup-social {
    padding: 5px;
    font-size: 14px;
  }

  .signup-input {
    padding: 10px 10px 10px 9px;
  }

  .signup-or {
    margin: 18px auto;
  }

  .signup-or span {
    padding: 2px 12px;
  }

  .inpu-email-as.sign-up {
    margin: 30px 0 10px 0;
  }

  .notification-account {
    padding: 7px;
    width: 258px;
  }

  .icons {
    width: 40%;
  }

  .logo img {
    width: 100px;
  }

  .icons {
    width: 40%;
  }

  .itemas .name {
    font-size: 21px;
  }

  .itemas .des {
    font-size: 13px;
    margin: 5px 0;
  }

  .btn-line-fill {
    padding: 5px 8px;
    font-size: 11px;
    margin-top: 6px;
  }

  .slide-bn {
    margin-top: 30px;
    height: 550px;
  }

  .itemas:nth-child(3),
  .itemas:nth-child(4),
  .itemas:nth-child(5),
  .itemas:nth-child(n + 6) {
    top: 86%;
  }

  .buttons {
    width: fit-content;
    top: 63%;
    left: 11%;
    gap: 10px;
    transform: rotate(90deg);
  }

  .pr-dc {
    width: 55px;
    height: 55px;
  }

  .add-to-cart {
    width: 56%;
    padding: 8px 0;
  }

  h3.single-bn-title {
    font-size: 18px;
    font-weight: bold;
    margin: 4px 0;
  }

  h6.pro-title {
    font-size: 17px;
  }

  span.price {
    font-size: 15px;
  }

  .product-price del {
    font-size: 13px;
  }
 
  .rating i {
    font-size: 12px;
  }

  span.rating-num {
    font-size: 12px;
    line-height: 24px;
  }

  .info1,
  .info2 {
    position: absolute;
    top: 16px;
    left: 10px;
  }

  a.single-bn-link::before {
    position: absolute;
    content: "";
    height: 3px;
    bottom: 3px;
  }

  .single-banner-02 {
    width: 100%;
    padding: 20px 10px;
  }

  .single-banner-02 img {
    width: 74%;
    margin-left: 70px;
  }

  .single-banner-01 {
    width: 100%;
    padding-bottom: 35px;
    margin-bottom: 20px;
    padding-right: 20px;
  }

  .single-banner-01 img {
    width: 130%;
  }

  h2.animation-title {
    font-size: 22px;
  }

  .trending-items .owl-nav {
    top: -58px;
  }

  .fllow-box {
    padding: 5px 30px;
    background-size: 50px;
  }

  .fllow-box h3 {
    font-size: 19px;
    margin: 0;
  }

  .fllow-box span {
    font-size: 12px;
  }

  #toast {
    position: fixed;
    top: 92px;
    right: 10px;
  }

  .tot {
    padding: 10px 0;
    min-width: 200px;
    max-width: 350px;
  }
  
  .title-content {
    font-size: 22px;
  }
}